* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Placeholder font */
 .todo-input::-webkit-input-placeholder {
  font-family: sans-serif;
}

.todo-input:-ms-input-placeholder {
  font-family: "Arsenal",sans-serif;
}

.todo-input:-moz-placeholder {
  font-family: "Arsenal",sans-serif;
}

.todo-input::-moz-placeholder {
  font-family: "Arsenal",sans-serif;
}

input[type="text"]
{
  font-family: "Arsenal", sans-serif;
}


body {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.05), rgba(105, 6, 8, 0.70)), url("../images/img104.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: "Arsenal", sans-serif;
  min-height: 30em;
  margin-bottom: 5em;

}


@media (max-width: 60em) {

  header{
    font-size: 1.2em;
  }
  body{
    font-size: 0.8em
  }
}

@media (max-width: 35em) {
  header{
    font-size: 2em;
  }
  body{
    font-size: 0.5em;
    
  }

  
}
