.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joker-back {
  max-width:45vw;
  max-height: auto;
  left:0;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  padding: 30px;
  border-width: 0.5em;
  border-style: solid;
  border-color:white;
}
.logged-as, .user-name, .user-email{
  font-size: 1.2em;
}
.user-img {
  border-radius: 50%;
  border: 0.2em solid white;
  margin:1.5em;
}
.dashboard__btn {
  padding: 0.3em 0.5em;
  font-size:1.5em;
  font-family: "Arsenal", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
  border: none;
  color: white;
  background-color: red;
}

.dashboard__btn:hover {
  border-color:black;
  background: white;
  color: black;
  cursor: pointer;
}

.dashboard div {
  margin-top: 7px;
}