*{
    font-family: "Arsenal", "sans-serif";
  }

.joker-palm {
    max-width:45vw;
    max-height: auto;
   
}

.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:auto;
    
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding: 30px;
    border-width: 0.5em;
    border-style: solid;
    border-color:white;
    overflow-x: auto
  }
  .register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .register__btn, .register__google {
    padding: 0.3em 0.5em;
    font-size:1.5em;
    font-family: "Arsenal", sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    border: none;
    color: white;
    background-color: red;
  }

.register__btn:hover, .register__google:hover {
  border-color:black;
  background: white;
  color: black;
  cursor: pointer;
}

.fa-google{
  padding-left: 0.5em;
}

  .login-link{
    font-weight: bold;
  }


