* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Placeholder font */
 .todo-input::-webkit-input-placeholder {
  font-family: sans-serif;
}

.todo-input:-ms-input-placeholder {
  font-family: "Arsenal",sans-serif;
}

.todo-input:-moz-placeholder {
  font-family: "Arsenal",sans-serif;
}

.todo-input::-moz-placeholder {
  font-family: "Arsenal",sans-serif;
}

input[type="text"]
{
  font-family: "Arsenal", sans-serif;
}
.dagger {
  position: relative;
  -webkit-animation: floatBubble 2s infinite  normal ease-out;
  animation: floatBubble 2s infinite  normal ease-out;
}
@-webkit-keyframes floatBubble {
  0% {
      left:500px;
  }
  100% {
      left: 0px;
  }
}
@keyframes floatBubble {
  0% {
      left:500px;
  }
  100% {
      left: 0px;
  }
}

body {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.05), rgba(105, 6, 8, 0.70)), url("./images/img104.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: "Arsenal", sans-serif;
  min-height: 30em;

}

h1 {
  padding: 0.25em;
  background-color: black;
  color: white;
  border-style: solid;
  border-width:0.10em;
}
header {
  font-size: 1.5em;
  font-family: "Franklin Gothic", sans-serif ;
  color: white;
  transition: all 1s ease;
}

header,
form {
  min-height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.3em;
  font-size: 1.5em;
  border: none;
  background: white;
  transition: all 1s ease;
}
form button {
  padding: 0.33em;
  color: black;
  background: #f7fffe;
  cursor: pointer;
  transition: all 1s ease;
}
form button:hover {
  background: black;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 50%;
  list-style: none;
}

.todo {
  margin: 0.5em;
  background: white;
  font-size: 1em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 2s ease;
}
.filter-todo {
  padding: 1em;
}
.todo li {
  flex: 1;
}

.delete-btn,
.done-btn {
  background: black;
  color: white;
  border: none;
  padding: 1em;
  cursor: pointer;
  font-size: 1em;
}
.done-btn {
  background: red;
}
.todo-item {
  padding: 0em 0.5em;
}

.fa-delete,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10em) rotateZ(20deg);
  opacity: 0;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1em;
  position: relative;
  overflow: hidden;
}
select {
  color: black;
  font-family: "Arsenal", sans-serif;
  cursor: pointer;
  width: 12em;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background: black;
  cursor: pointer;
  pointer-events: none;
}

/* Joker image */
img {
  position: fixed;
  max-width: 40vw;
  height:auto;
  left: 0px;
  top: 50vh;
  z-index: -1;
}

@media (max-width: 50em) {
  header{
    font-size: 1.2em;
  }
  body{
    font-size: 1em
  }

  form input,
form button {
  display: flex;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  background: white;
  transition: all 1s ease;
}

form button{
  padding:0.63em;
}
.todo {
  margin: 0.5em;
  background: white;
  font-size: 0.8em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 2s ease;
}
}

@media (max-width: 30em) {
  header{
    font-size: 2em;
  }
  body{
    font-size: 0.5em;
    
  }

  form input,
  form button {
  padding: 0.5em;
  font-size: 2em;
  border: none;
  background: white;
  transition: all 1s ease;
}

form button{
  padding:0.625em;
}
.todo {
  margin: 0.5em;
  background: white;
  font-size: 1.5em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
}

